@media (max-width: 767.9px) {
    body {
        background-color: #fff;
        overflow: scroll !important;
    }
    .verification-code {
        transform: scale(0.6, 0.6);
        background-color: #fff;
        position: relative;
        top: -200px;
    }
    .verification-code h2 {
        color: black;
        font-size: 23px;
        text-align: center;
    }
    .verification-code p {
        font-size: 18px;
        text-align: center;
    }
    .verification-code-container .input {
        background-color: #fff;
        color: black; /* Matn rangini qora qilib qo'ydik */
    }
}
@media (min-width: 768px) {
    body {
        background-color: rgb(23, 33, 43);
    }
    .verification-code {
        background-color: rgb(23, 33, 43);
    }
    .verification-code h2 {
        color: white;
        text-align: center;
        font-size: 24px;
    }
    .verification-code p {
        font-size: 13px;
        text-align: center;
    }
    .verification-code-container .input {
        background-color: rgb(48, 69, 90);
        color: #fff; /* Matn rangini oq qilib qo'ydik */
    }
}
body {
    height: 100vh;
}
.clearfix {
    clear: both;
}
.container-custom {
    margin: auto;
}
.verification-code {
    border-radius: 7px;
}
.verification-code p {
    color: #8e8e93;
}
.verification-code-container {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}
.verification-code-container .input {
    width: 45px;
    height: 53px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgb(23, 33, 43);
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}
.verification-code-container .input:focus {
    border-color: #007bff;
}
.button-container {
    text-align: center;
}
.button-container button {
    width: 100%;
    transform: scaleY(0.8);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background-color: #007bff;
    transition: all 0.3s ease;
}
.button-container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
